{% extends "administrationbase.html.twig" %}
{% block title %}
  {{ parent() }}
  ajout genre
{% endblock %}

{% block contenu %}
{% if form.valide is defined %}
  {% if form.valide == true %}
    <div class="container-fluid" style="padding: 5rem">
      <div class="row">
        <div class="container " id="borderimg3" style="padding: 5rem">

          <form class="textcenter" action="index.php?page=ajoutgenre" method="post" style="width: 100%;">
            <h2 class="textcenter">Genre ajouté avec success</h2>
          </div>
          <div class="container-fluid textcenter">

            <button type="submit" class="btnsingin" name="button">Ajouter un autre genre</button>
            <button type="submit" class="btnsingin" name="button" formaction="index.php?page=admingenre">Retour a la liste des genre</button>
          </div>
        </form>
      </div>
    </div>

  {% else %}
    <div class="container-fluid" style="padding: 5rem">
      <div class="row">
        <div class="container " id="borderimg3" style="padding: 5rem">

          <form class="textcenter" action="index.php?page=ajoutgenre" method="post" style="width: 100%;">
            <h2 class="textcenter" style="color: #ff6b6b">Problème Ajout Genre !</h2>

          </div>
          <div class="container-fluid textcenter">

            <button type="submit" class="btnsingin" name="button">Essayez a nouveau l'ajout d'un genre</button>
          </div>

        </form>

      </div>
    </div>
  {% endif %}
{% else %}

<div class="container-fluid" style="padding: 5rem">
  <div class="row">
    <div class="container " id="borderimg3" style="padding: 5rem">
        <h4>Ajouter d'un genre</h4>
        <br/>
        <form class="form-signin" action="index.php?page=ajoutgenre" method="post" enctype="application/x-www-formurlencoded">
          <div class="form-row">
            <label for="inputLibellegenre " >Genre:</label>
            <input class="form-control" type="text" name="inputLibellegenre" placeholder="Saisir le nom d'un genre" id="inputLibellegenre" required="required" autofocus="autofocus">
            <span ></span>
          </div>

        </div>
        <div class="container-fluid textcenter">

          <button type="submit" class="btnsingin" name="btAjouter">Ajouter</button>
        </div>
      </form>
    </div>
  </div>
  {% endif %}
{% endblock %}
