
{% extends "administrationbase.html.twig" %}
{% block title %}
  {{ parent() }}
  ajout collection
{% endblock %}

{% block contenu %}
{% if form.valide is defined %}
  {% if form.valide == true %}
    <div class="container-fluid" style="padding: 5rem">
      <div class="row">
        <div class="container " id="borderimg3" style="padding: 5rem">

          <form class="textcenter" action="index.php?page=ajoutcollection" method="post" style="width: 100%;">
            <h2 class="textcenter">Collection ajouté avec success</h2>
          </div>
          <div class="container-fluid textcenter">

            <button type="submit" class="btnsingin" name="button">Ajouter une autre collection</button>
            <button type="submit" class="btnsingin" name="button" formaction="index.php?page=admincollection">Retour a la liste des collection</button>
          </div>
        </form>
      </div>
    </div>

  {% else %}
    <div class="container-fluid" style="padding: 5rem">
      <div class="row">
        <div class="container " id="borderimg3" style="padding: 5rem">

          <form class="textcenter" action="index.php?page=ajoutcollection" method="post" style="width: 100%;">
            <h2 class="textcenter" style="color: #ff6b6b">Problème Ajout Collection !</h2>

          </div>
          <div class="container-fluid textcenter">

            <button type="submit" class="btnsingin" name="button">Essayez a nouveau l'ajout d'une collection</button>
          </div>

        </form>

      </div>
    </div>
  {% endif %}
{% else %}

  <div class="container-fluid"style="padding: 5rem">
    <div class="row" >
      <div class="container" id="borderimg3" style="padding: 5rem">
        <h4>Ajouter une collection</h4>
        <br/>
        <form class="form-signin" action="index.php?page=ajoutcollection" method="post" enctype="application/x-www-formurlencoded">
          <div class="form-row">

            <label for="inputLibellecollection ">Collection :</label>
            <input class="form-control" type="text" name="inputLibellecollection" placeholder="Saisir le nom de la nouvelle collection" id="inputLibellecollection" required="required" autofocus="autofocus">
            <span ></span>
          </div>

        </div>
        <div class="container-fluid textcenter">

          <button type="submit" class="btnsingin" name="btAjouter">Ajouter</button>
        </div>
      </form>
    </div>
  </div>
    {% endif %}
{% endblock %}
