{% extends "administrationbase.html.twig" %}
{% block title %}
  {{ parent() }}
  ajout auteur
{% endblock %}

{% block contenu %}
{% if form.valide is defined %}
  {% if form.valide == true %}
    <div class="container-fluid" style="padding: 5rem">
      <div class="row">
        <div class="container " id="borderimg3" style="padding: 5rem">

          <form class="textcenter" action="index.php?page=ajoutauteur" method="post" style="width: 100%;">
            <h2 class="textcenter">Auteur ajouté avec success</h2>
          </div>
          <div class="container-fluid textcenter">

            <button type="submit" class="btnsingin" name="button">Ajouter un autre auteur</button>
            <button type="submit" class="btnsingin" name="button" formaction="index.php?page=adminauteur">Retour a la liste des auteur</button>
          </div>
        </form>
      </div>
    </div>

  {% else %}
    <div class="container-fluid" style="padding: 5rem">
      <div class="row">
        <div class="container " id="borderimg3" style="padding: 5rem">

          <form class="textcenter" action="index.php?page=ajoutauteur" method="post" style="width: 100%;">
            <h2 class="textcenter" style="color: #ff6b6b">Problème Ajout Auteur !</h2>

          </div>
          <div class="container-fluid textcenter">

            <button type="submit" class="btnsingin" name="button">Essayez a nouveau l'ajout d'auteur</button>
          </div>

        </form>

      </div>
    </div>
  {% endif %}
{% else %}


  <div class="container-fluid" style="padding: 5rem">
    <div class="row">
      <div class="container " id="borderimg3" style="padding: 5rem">
        <h4>Ajouter un auteur</h4>
        <br/>
        <form class="form-signin" action="index.php?page=ajoutauteur" method="post" enctype="application/x-www-formurlencoded">

            <div class="form-row">
          <div class="col">
            <label for="inputNom" >Nom:</label>
            <input class="form-control" type="text" name="inputNom" placeholder="Saisir un nom" id="inputNom" required="required" autofocus="autofocus">
            <span ></span>
          </div>

          <div class="col">
            <label for="inputPrenom" >Prenom :</label>
            <input class="form-control" type="text" name="inputPrenom" placeholder="Saisir un prenom" id="inputPrenom" required="required" autofocus="autofocus">
            <span ></span>
          </div>
          </div>
          <br/>

            <div class="form-row">

              <label for="inputBiographie">Biographie :</label>
              <textarea class="form-control" type="text" name="inputBiographie" placeholder="Saisir une biographie" id="inputBiographie" required="required" autofocus="autofocus" rows="5" ></textarea>
<span ></span>
            </div>



        </div>
        <div class="container-fluid textcenter">

          <button type="submit" class="btnsingin" name="btAjouter">Ajouter</button>
        </div>
      </form>
    </div>
  </div>
  {% endif %}
{% endblock %}
