{% extends "administrationbase.html.twig" %}
{% block title %}
  {{ parent() }}
  ajout event
{% endblock %}

{% block contenu %}
{% if form.valide is defined %}
  {% if form.valide == true %}
    <div class="container-fluid" style="padding: 5rem">
      <div class="row">
        <div class="container " id="borderimg3" style="padding: 5rem">

          <form class="textcenter" action="index.php?page=ajoutevent" method="post" style="width: 100%;">
            <h2 class="textcenter">Event ajouté avec success</h2>
          </div>
          <div class="container-fluid textcenter">

            <button type="submit" class="btnsingin" name="button">Ajouter un autre event</button>
            <button type="submit" class="btnsingin" name="button" formaction="index.php?page=adminevent">Retour a la liste des event</button>
          </div>
        </form>
      </div>
    </div>

  {% else %}
    <div class="container-fluid" style="padding: 5rem">
      <div class="row">
        <div class="container " id="borderimg3" style="padding: 5rem">

          <form class="textcenter" action="index.php?page=ajoutevent" method="post" style="width: 100%;">
            <h2 class="textcenter" style="color: #ff6b6b">Problème Ajout Event !</h2>

          </div>
          <div class="container-fluid textcenter">

            <button type="submit" class="btnsingin" name="button">Essayez a nouveau l'ajout d'un event</button>
          </div>

        </form>

      </div>
    </div>
  {% endif %}
{% else %}


  <div class="container-fluid" style="padding: 5rem">
    <div class="row">
      <div class="container " id="borderimg3" style="padding: 5rem">
        <h4>Ajouter un event</h4>
        <br/>
        <form class="form-signin" action="index.php?page=ajoutevent" method="post" enctype="application/x-www-formurlencoded">

            <div class="form-row">
          <div class="col">
            <label for="inputTitre" >Titre :</label>
            <input class="form-control" type="text" name="inputTitre" placeholder="Saisir un titre" id="inputTitre" required="required" autofocus="autofocus">
            <span ></span>
          </div>

          <div class="col">
            <label for="inputIllustration" >Illustration :</label>
            <input class="form-control" type="text" name="inputIllustration" placeholder="Saisir ue illustration" id="inputIllustration" required="required" autofocus="autofocus">
            <span ></span>
          </div>
          </div>
          <br/>

            <div class="form-row">

              <label for="inputInformation">Information :</label>
              <textarea class="form-control" type="text" name="inputInformation" placeholder="Saisir une information" id="inputInformation" required="required" autofocus="autofocus" rows="5" ></textarea>
<span ></span>
            </div>



        </div>
        <div class="container-fluid textcenter">

          <button type="submit" class="btnsingin" name="btAjouter">Ajouter</button>
        </div>
      </form>
    </div>
  </div>
  {% endif %}
{% endblock %}
