{% extends "administrationbase.html.twig" %}

{% block title %}
  {{ parent() }}
  home
{% endblock %}

{% block contenu %}

  <div class="container" style="margin-top:1em">

    <p>base administration</p>

  </div>

{% endblock %}
