<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/custom.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico"/>
    <title></title>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row" style="margin-top:5em;margin-bottom:5em">
        <div class="col-12	col-sm-12	col-md-12	col-lg-12	col-xl-3"></div>

        <div class="col-12	col-sm-12	col-md-12	col-lg-12	col-xl-6">
          <div id="borderimg2">
            <div class="card">
              <div class="container-fluid ">
                <h1 id="title" class="textcenter">Nous sommes en maintenance</h1>
                <br/>
                <p class="mb-0 fluid-center com textcenter">
                  Dureé de la maintenance :</p>
                <h3 class="time textcenter " id="demo" style="margin-bottom: 1em;margin-top: 1em"></h3>

              </div>
              <div class="container-fluid " style="margin-bottom:1.5em">
                <hr/>
                <p class="mb-0 fluid-center com textcenter">
                  <a href="https://www.facebook.com/Legendariumlibrairie/">Suivez-nous sur Facebook</a>
                </p>

              </div>

            </div>
          </div>
        </div>
        <div class="col-12	col-sm-12	col-md-12	col-lg-12	col-xl-3"></div>
      </div>
    </div>
  </body>

</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>
  window.jQuery || document.write('<script src="js/jquery3.2.1.min.js"><\/script>')
</script>
<script src="js/bootstrap.min.js"></script>
<script>
  // Set the date we're counting down to
  var countDownDate = new Date("May 23, 2019 00:00:00").getTime();

  // Update the count down every 1 second
  var x = setInterval(function() {

    // Get todays date and time
    var now = new Date().getTime();

    // Find the distance between now and the count down date
    var distance = countDownDate - now;

    // Time calculations for days, hours, minutes and seconds
    var days = Math.floor(distance / (1000 * 60 * 60 * 24));
    var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
    var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
    var seconds = Math.floor((distance % (1000 * 60)) / 1000);

    // Output the result in an element with id="demo"
    document.getElementById("demo").innerHTML = days + "jours " + hours + "h " + minutes + "min " + seconds + "sec ";

    // If the count down is over, write some text
    if (distance < 0) {
      clearInterval(x);
      document.getElementById("demo").innerHTML = "EXPIRED";
    }
  }, 1000);
</script>
</html>
