{% extends "base.html.twig" %}

{% block title %} {{ parent() }} - Accueil {% endblock %}

{% block contenu %} <h2>Mentions légales</h2> 
    <hr>

    <div style="padding:20px;">
        <h1>1. Présentation du site :</h1><br><br>
        <p>
            Conformément aux dispositions des articles 6-III et 19 de la Loi n° 2004-575 du 21 juin 2004 pour la Confiance 
            dans l'économie numérique,dite L.C.E.N., nous portons à la connaissance des utilisateurs et visiteurs du site : 
            <b>URLDUSITE.COM</b> les informations suivantes :
        </p>

        <p>
            Informations légales :
        </p>

        <p>
            Statut du propriétaire : societe<br>
            Préfixe : <b>PREFIXE DE LA SOCIETE</b><br>
            Nom de la Société : <b>NOM DE LA SOCIETE</b><br>
            Adresse : <b>ADRESSE DE LA SOCIETE</b> <b>CODE POSTAL DE LA SOCIETE</b> <b>VILLE DE LA SOCIETE</b><br>
            Tél  : <b>TELEPHONE DE LA SOCIETE</b><br>
            Au Capital de : <b>CAPITAL SOCIAL</b> €<br>
            SIRET :  <b>NUMERO DE SIRET</b>   R.C.S. : <b>RCS</b><br>
            Numéro TVA intracommunautaire : <b>NUM TVA INTRACOMMUNAUTAIRE</b><br>
            Adresse de courrier électronique : <b>EMAIL DE LA SOCIETE@EMAIL.EMAIL</b><br><br>
            Le Créateur du site est : <b>NOM PRENOM DU CREATEUR DU SITE</b><br>
            Le Responsable de la  publication est : <b>NOM PRENOM RESPONSABLE DE LA PUBLICATION</b><br>
            Contactez le responsable de la publication : <b>EMAIL RESPONSABLE DE LA PUBLICATION@EMAIL.EMAIL</b><br>
            Le responsable de la publication est une personne physique<br>
            <br>
            Le Webmaster est  : <b>WEBMASTER</b><br>
            Contactez le Webmaster : <b>EMAILWEBMASTER@EMAIL.EMAIL</b><br>
            L’hebergeur du site est : <b>NOM HEBERGEUR DU SITE</b> <b>ADRESSE HEBERGEUR DU SITE</b> <b>CODE POSTAL 
                HEBERGEUR DU SITE</b> <b>VILLE HEBERGEUR DU SITE</b><br>
            <u>CREDITS :</u> les mentions légales ont étés générées par <a href="https://www.generer-mentions-legales.com" style='margin-left:0%; color:black'>mentions légales</a><br>
        </p>


        <br><h1>2. Description des services fournis :</h1><br><br>

        <p>
            Le site <b>URLDUSITE.COM</b> a pour objet de fournir une 
            information concernant l’ensemble des activités de la société.<br>
            Le proprietaire du site s’efforce de fournir sur le site <b>URL DU SITE.COM</b>
            des informations aussi précises que possible. Toutefois, il ne pourra être tenue responsable des omissions, des inexactitudes 
            et des carences dans la mise à jour, qu'elles soient de son fait ou du fait des tiers partenaires qui lui fournissent ces informations.<br>
            Toutes les informations proposées sur le site <b>URL DU SITE.COM</b> 
            sont données à titre indicatif, sont non exhaustives, et sont susceptibles d’évoluer. Elles sont données sous réserve de modifications 
            ayant été apportées depuis leur mise en ligne.<br>
        </p>


        <br><h1>3. Propriété intellectuelle et contrefaçons :</h1><br><br>

        <p><br>
            Le proprietaire du site est propriétaire des droits de propriété intellectuelle ou détient les droits d’usage sur 
            tous les éléments accessibles sur le site, notamment les textes, images, graphismes, logo, icônes, sons, logiciels...<br>
            Toute reproduction, représentation, modification, publication, adaptation totale ou partielle des éléments du site, quel 
            que soit le moyen ou le procédé utilisé, est interdite, sauf autorisation écrite préalable à l'email : <b>EMAILWEBMASTER@EMAIL.EMAIL</b><br>
            Toute exploitation non autorisée du site ou de l’un quelconque de ces éléments qu’il contient sera considérée comme constitutive 
            d'une contrefaçon et poursuivie conformément aux dispositions des articles L.335-2 et suivants du Code de Propriété Intellectuelle.<br>
        </p>


        <br><h1>4. Liens hypertextes et cookies :</h1><br><br>

        <p><br>
            Le site <b>URLDUSITE.COM</b> contient un certain nombre de liens hypertextes vers d’autres sites (partenaires, informations...) 
            mis en place avec l’autorisation de le proprietaire du site . Cependant, le proprietaire du site n’a pas la possibilité de vérifier 
            le contenu des sites ainsi visités  et décline donc toute responsabilité de ce fait quand aux risques éventuels de contenus illicites.<br>
        </p>

        <p>
            L’utilisateur est informé que lors de ses visites sur le site <b>URL DU SITE.COM</b>, un ou des cookies sont susceptible de s’installer 
            automatiquement sur son ordinateur. Un cookie est un fichier de petite taille, qui ne permet pas l’identification de l’utilisateur, mais 
            qui enregistre des informations relatives à la navigation d’un ordinateur sur un site. Les données ainsi obtenues visent à faciliter la 
            navigation ultérieure sur le site, et ont également vocation à permettre diverses mesures de fréquentation.<br>
        </p><br>

        <p>
            Le paramétrage du logiciel de navigation permet d’informer de la présence de cookie et éventuellement, de refuser de la manière décrite 
            à l’adresse suivante : www.cnil.fr<br>
            Le refus d’installation d’un cookie peut entraîner l’impossibilité d’accéder à certains services. L’utilisateur peut toutefois configurer 
            son ordinateur de la manière suivante, pour refuser l’installation des cookies :<br>
            Sous Internet Explorer : onglet outil / options internet. Cliquez sur Confidentialité et choisissez Bloquer tous les cookies. Validez sur Ok.<br>
            Sous Netscape : onglet édition / préférences. Cliquez sur Avancées et choisissez Désactiver les cookies. Validez sur Ok.<br>
        </p>

        <br><h1>5. Protection des biens et des personnes - gestion des données personnelles :</h1><br><br>

        <p>
            Utilisateur : Internaute se connectant, utilisant le site susnommé : <b>URLDUSITE.COM</b><br>
            En France, les données personnelles sont notamment protégées par la loi n° 78-87 du 6 janvier 1978, la loi n° 2004-801 du 6 août 2004, 
            l'article L. 226-13 du Code pénal et la Directive Européenne du 24 octobre 1995.
        </p>

        <p>
            Sur le site <b>URLDUSITE.COM</b>, le proprietaire du site ne collecte des informations 
            personnelles relatives à l'utilisateur que pour le besoin de certains services proposés par le site <b>URLDUSITE.COM</b>. 
            L'utilisateur fournit ces informations en toute connaissance de cause, notamment lorsqu'il procède par lui-même 
            à leur saisie. Il est alors précisé à l'utilisateur du site <b>URLDUSITE.COM</b> l’obligation ou non de fournir ces informations.<br>
            Conformément aux dispositions des articles 38 et suivants de la loi 78-17 du 6 janvier 1978 relative à l’informatique, aux fichiers et aux libertés, 
            tout utilisateur dispose d’un droit d’accès, de rectification, de suppression et d’opposition aux données personnelles le concernant. Pour l’exercer, 
            adressez votre demande à <b>URLDUSITE.COM</b> par email : email du webmaster ou  en 
            effectuant sa demande écrite et signée, accompagnée d’une copie du titre d’identité avec signature du titulaire de la pièce, en précisant l’adresse 
            à laquelle la réponse doit être envoyée.
        </p>

        <p>Aucune information personnelle de l'utilisateur du site <b>URLDUSITE.COM</b> n'est 
            publiée à l'insu de l'utilisateur, échangée, transférée, cédée ou vendue sur un support quelconque à des tiers. Seule l'hypothèse du rachat 
            du site <b>URLDUSITE.COM</b> à le proprietaire du site et de ses droits permettrait 
            la transmission des dites informations à l'éventuel acquéreur qui serait à son tour tenu de la même obligation de conservation et de modification 
            des données vis à vis de l'utilisateur du site <b>URLDUSITE.COM</b>.
        </p>

        <p>
            Le site <b>URLDUSITE.COM</b> est en conformité avec le RGPD voir notre politique RGPD <b>PAGE RGPD.COM</b>.
        </p>

        <p>
            Les bases de données sont protégées par les dispositions de la loi du 1er juillet 1998 transposant la directive 96/9 du 11 mars 1996 
            relative à la protection juridique des bases de données.
        </p>
    </div>

{% endblock %}
