{% extends "base.html.twig" %}
{% block style %}<link href="css/style-signin.css" rel="stylesheet"> {% endblock %}
{% block title %} {{ parent() }} À propos {% endblock %}

{% block contenu %}
 <div class="container-fluid ">
    <h1  >À propos de Guy Mollet Shop</h1>
   
 
</div>
{% endblock %} 