{% extends "base.html.twig" %}
{% block style %}<link href="css/style-signin.css" rel="stylesheet">
{% endblock %}
{% block title %}
  {{ parent() }}
  À propos
{% endblock %}

{% block contenu %}
  <div class="container-fluid textcenter">
    <h2>Cette page semble vide pour le moment</h2>
    <div id="borderimg5" style="padding: 5em">
      <h5 style="margin: 1em">Oups vos étes tombait sur une page vierge</h5>
      <h1 style="margin: 1em">404</h1>
      <h5 style="margin: 1em">Utiliser la flèche retour pour faire demi-tour</h5>
    </div>

  </div>
{% endblock %}
